<div class="row">
  <div class="col-md-4">
 
    <h1>Followers</h1>
  <ul class="list-group">  
  <% @followers.each do |u| %>
   <li>
  <%= link_to gravatar_for(u, size: 50), u %>
   <span class="user"><%= link_to u.name, u %></span>
  </br>
  </br>
  </br>
  </li>
  <% end %>
 </ul>
 </div>
</div>